#homepage { margin:1% 0; padding:0; background-color: #F2EDE6;}
#wrapper { width:70%; margin:0 auto; overflow:hidden; border:0px dashed #333; }
#header { background-color:#ffffff; width:100%; overflow:hidden; /*padding-top:1%;*/ border:0px dashed #333; }
#logo { float:left; width:69%; height:auto; margin:0 0 0 1%; background: no-repeat scroll left top; box-sizing:border-box;}
#utilities { float:left; width:30%; height:auto; padding:0 0 0 0; }
#banner { width:100%; height:auto; overflow:hidden; background:#093157; margin:0 auto; float:left; box-sizing:border-box;}
#ad-carousel { display:inline; position:relative; width:65%; height:auto; float:left; background:none; box-sizing:border-box;}
#ad-carousel .ads { position:relative; border-radius:10px 10px 0px 0px ; padding:5px 0 0 5px; zoom:1; border:0px dashed #333;  box-sizing:border-box;}
#ad-info { position:relative; border-radius: 0px 0px 10px 10px; padding:5px 5px 5px 20px; zoom:1; color:blue; background:#CEECF5; border:0px dashed #333;  box-sizing:border-box;}
#orange
{
	background-color:#F3930E;
}

#login-h
{
	background-color:#F3930E;
	height:30%;
	border-radius:10px 10px 0px 0px ; 
	padding:0;
	margin:0;
	position:relative;
}
#login-f
{
	background-color:white;
	height:70%;
}
#login { width:32%; height:auto; border-radius:10px 10px 10px 10px ; padding:5px 0 0 5px; margin:10px; position:relative; background:white; float:right;}
#homepage #extras { clear:both; margin:0; padding:0; background:#FFF; overflow:hidden; }
#homepage #extras h2 { margin:0; padding:0 0 5px 0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#054f8c; letter-spacing:.02em; background:#ff0; border:0px dashed #333; }
#homepage #extras #quick-links { float:left; width:65%; height:27%; margin:0; padding:15px 18px 4px 18px; background:transparent top left no-repeat; }
#homepage #extras #quick-links-right { float:left; width:32%; height:30%px; margin:0; padding:15px 18px 4px 18px; background:transparent top left no-repeat; }
#homepage #extras #quick-links h2 { margin:0; padding:0 0 25px 0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#01213e; letter-spacing:.02em; background:none; border:0px dashed #333; }
#homepage #extras #quick-links-right h2 { margin:0; padding:0 0 25px 0; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#01213e; letter-spacing:.02em; background:none; border:0px dashed #333; }
.sitemap_nav { height:5%; color:#555; background-color:#E7E7E7; }
.sitemap_nav li { display:block; float:left; height:15px; padding:15px 20px; margin:0; border-right:1px solid #D5D5D5;  }
.sitemap_nav li a { color:#555; font-size:14px; line-height:18px; border:none; }
.sitemap_nav li a:hover { color:#676767; text-decoration:none; }
.sitemap_nav li a:active, .sitemap_nav li a.clicked { color:#676767; }
#footer { width:95%; font-size:12px; color:#999; padding:10px 21px; }
#footer p { color:#999; }
#footer .links { float:left; height:3%; } 
#footer .links li { display:inline; padding:0 15px 0 0; }
#footer .links li a { color:#666; font-size:12px; line-height:18px; }
#footer .copyright { float:right; color:#999; text-align:right; }

.item
{
	background-color:#848484;
	color:#FFF;
	text-align:center;
	padding: 10px 0 10px 0;
	border-color:#848484 #848484 #a4a4a4;
	border-style: solid;
}

body,html {
 margin: 0 5px;
 font-family: Verdana,sans-serif;
}
h1 {
 font-size: 1.4em;
 color: #008000;
}
a {
 color: #008000;
}
/* Table */
th {
 text-align: left;
}
td, th { 
 padding-right: 5px;
}
/* style form */
form dt {
 width: 100px;
 display: block;
 float: left;
 clear: left;
}
form dd {
 margin-left: 0;
 float: left;
 
}
form #submitbutton {
 margin-left: 100px;
}
#mobile
{
	display:none;
}
#web
{
	display:block;
}	
	
@media screen and (max-width:975px)
{
	#homepage
	{
		background-color: #fff;
		width:100%;
	}
	#utilities
	{
		display:none;
	}
	#nav-html
	{
		display:none;
	}
	#wrapper
	{
		width:100%;
	}
	#sec-image
	{
		display:none;
	}
	#ad-info
	{
		display:none;
	}
	#login
	{
		width:96%;
		float:center;
	}
	#ad-carousel 
	{ 
		position:relative; 
		padding: 5px 5px 5px 10px;
		width:97%; 
		height:auto; 
		float:center; 
		background-color:#F3930E;
		box-sizing:border-box;
	}
	#banner
	{
		background-color:#F3930E;
	}
	#homepage #extras #quick-links { float:left; width:100%; padding:15px 18px 4px 18px; }
	#homepage #extras #quick-links-right  { float:left; width:100%;  padding:15px 18px 4px 18px; }
	{
		position:relative; 
		padding: 5px 5px 5px 10px;
		width:100%;
	}
	#homepage #extras 
	{
		width:100%;
		height:auto;
	}

	
}

@media screen and (max-width:775px)
{
	#web
	{
		display:none;
	}
	#mobile
	{
		display:block;
	}	
}